
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <label>Makale Başlığı : </label>
        <input type="text" id="txtBaslik" />
        <br />
        <label>Makale İçeriği : </label>
        <input type="text" id="txtIcerik" />
        <br />
        <button id="btnAdd">Add</button>
    </div>
    <script src="~/Scripts/jquery-3.1.1.js"></script>
</body>
</html>

<script>
    $("#btnAdd").click(function () {
        var makale = new Object();
        makale.Baslik = $("#txtBaslik").val();
        makale.Icerik = $("#txtIcerik").val();
        makale.KullaniciID = 1;
        makale.KategoriID = 2;

  //      console.log(makale);

        $.ajax({
            type: "post",
            dataType: "json",
            data: makale,
            url: "http://localhost:1103/api/Article/PostMakale",
            success: function (result) {
                if (result == "basarili")
                    alert("Basarili");
            }
        });
    });
</script>